<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.JS</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>
    <div>
        <div class="w3-container">
            <h2>List Users:</h2>
            <table class="w3-table-all w3-hoverable">
                <thead>
                    <tr class="w3-light-grey">
                        <th>First Name</th>
                        <th>Phone Number</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0; i< dataUser.length; i++) {%>
                        <tr>
                            <td>
                                <a href="/detail/user/<%= dataUser[i].Id %>">
                                    <%= dataUser[i].firstName %>
                                </a>
                            </td>
                            <td>
                                <%= dataUser[i].phoneNumber %>
                            </td>
                            <td>
                                <form action="/edit-user/<%= dataUser[i].Id %>" method="GET">
                                    <button type="submit">Edit</button>
                                </form>
                                <form action="/delete-user" method="POST">
                                    <input type="hidden" value="<%= dataUser[i].Id %>" name="userId">
                                    <button type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
        <div class="container">
            <!-- <h1> <b>Create New User:</b></h1> -->
            <div class="newEmp">
                <form action="/create-new-user" method="POST">
                    <label for="fname">Full Name</label>
                    <input type="text" id="fname" name="firstName" placeholder="Your name..">

                    <label for="lname">Phone Number</label>
                    <input type="text" id="lname" name="phoneNumber" placeholder="Your phone number..">

                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</body>

</html>